.empty-card {
    display: flex;
    justify-content: center;
}

.error-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
    color: inherit;
}