.navbar {
    max-width: 100%;
    background-color: rgb(120, 4, 111);
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;

    .navbar-title h1 {
        font-size: 25px;
    }
}